apiVersion: v1
kind: Service
metadata:
  name: django-service
  namespace: edu-viktor-rykov
spec:
  selector:
    app: django
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: ClusterIP
